.card {
    max-height: 537px;
    width: 312px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    position: fixed;
    top: 130px;
    right: 24px;
  }
  
  .header-card {
    height: 72px;
    background: linear-gradient(0deg, #a785ed, #a785ed),
      linear-gradient(0deg, #c4c4c4, #c4c4c4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h4 {
    font-family: var(--manrope-fonte);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: var(--cor-texto);
  }
  
  h5 {
    font-family: var(--manrope-fonte);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: var(--cor-texto);
    margin-bottom: 0;
  }
  
  .imagem-titulo-card {
    height: 50px;
    width: 50px;
  }
  
  .form-cupom {
    margin: 16px;
    font-family: var(--manrope-fonte);
    font-size: 12px;
    font-weight: 400;
    color: var(--cor-texto);
  }
  
  .input-cupom {
    height: 40px;
    width: 280px;
    outline: none;
    border: none;
    background-color: #0b1217;
    padding-left: 16px;
    color: var(--cor-texto);
  }
  
  .input-cupom:hover {
    border: 1px solid var(--cor-texto);
  }
  
  .input-cupom::placeholder {
    font-family: var(--manrope-fonte);
    font-size: 16px;
    color: #fdfdfd;
    opacity: 0.4;
  }

  .centralizar-botao {
    width: 100%;
    display: grid;
    place-content: center;
  }
  
  .finalizar-compra {
    background-color: #E25EBF;
    color: #ffff;
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    height: 56px;
    width: 280px;
    padding: 16px;
    margin: 16px;
    margin-top: 0;
    outline: none;
    border: none;
  }