* {
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #1d2226;
  --manrope-fonte: "Manrope", sans-serif;
  --quantico-fonte: "Quantico", sans-serif;
  --open-sans: "Open Sans", sans-serif;
  --cor-texto: #ffff;
  --espaço-corpo-esquerda: 96.5px;
  position: relative;
}

.cabecalho {
  background-color: #0f1c26;
  color: var(--cor-texto);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 24px 130px 24px 70px;
  font-family: var(--manrope-fonte);
}

.pai-pesquisa {
  position: relative;
}

.cabecalho input {
  background-color: #171b1e;
  height: 56px;
  width: 456px;
  outline: none;
  border: none;
  padding-left: 13px;
  padding-right: 60px;
  color: #ffff;
}

.cabecalho input::placeholder {
  color: var(--cor-texto);
  font-family: var(--manrope-fonte);
  font-size: 16px;
  font-weight: 500;
  padding-right: 20px;
}

.cabecalho input:focus,
.cabecalho input:hover {
  border: 1px solid var(--cor-texto);
}

.pesquisa {
  background-color: transparent;
  outline: none;
  border: none;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 408px;
  top: 16px;
  cursor: pointer;
}

.pesquisa img {
  height: 24px;
  width: 24px;
}

.favoritos,
.promocao {
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cor-texto);
  gap: 8px;
  font-family: var(--manrope-fonte);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.profile {
  height: 56px;
  width: 56px;
}

.adds {
  background-image: url("../src/assets/bg-promotion.svg");
  display: flex;
  position: relative;
  width: 936px;
  height: 119px;
  margin-left: var(--espaço-corpo-esquerda);
  margin-top: 24px;
  font-family: var(--quantico-fonte);
}

.adds .add-cupom h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0;
}

.add-cupom {
  padding-top: 16px;
  padding-left: 25px;
  margin-right: 47px;
}

.cupom {
  display: flex;
  position: absolute;
  gap: 16px;
  left: 15px;
  top: 60px;
}

.cupom p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.icone-dinheiro {
  position: absolute;
  margin-right: 50px;
  right: 0;
  bottom: 0;
}

.add-cronometro h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-top: 24px;
  margin-bottom: 0;
}

.timer {
  display: flex;
  gap: 18px;
}

.outdoors {
  margin-left: var(--espaço-corpo-esquerda);
}

.outdoors h3 {
  font-family: var(--manrope-fonte);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: var(--cor-texto);
  margin-top: 40px;
  margin-bottom: 16px;
}

.top-filmes,
.escolher-filmes {
  display: flex;
  gap: 24px;
}

.escolher-filmes {
  max-width: 950px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.filmes {
  margin-top: 40px;
  margin-left: var(--espaço-corpo-esquerda);
}

.filmes h3 {
  font-family: var(--manrope-fonte);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: var(--cor-texto);
  margin-top: 40px;
  margin-bottom: 16px;
}

.filtros {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.botao-filtro {
  background-color: transparent;
  height: 38px;
  width: 168px;
  color: #ffffff;
  border: 2px solid #ffffff;
  opacity: 0.2;
  font-family: var(--open-sans);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
}

.botao-filtro:hover {
  border: 2px solid #e183c8;
  color: #e183c8;
  opacity: 1;
  cursor: pointer;
}

.selecionado {
  background: rgba(225, 131, 200, 0.2);
  border: 2px solid #e183c8;
  color: #e183c8;
  opacity: 1;
}

.card {
  height: 537px;
  width: 312px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  position: fixed;
  top: 130px;
  right: 24px;
}

.header-card {
  height: 72px;
  background: linear-gradient(0deg, #a785ed, #a785ed),
    linear-gradient(0deg, #c4c4c4, #c4c4c4);
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  font-family: var(--manrope-fonte);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: var(--cor-texto);
}

h5 {
  font-family: var(--manrope-fonte);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--cor-texto);
  margin-bottom: 0;
}

.imagem-titulo-card {
  height: 50px;
  width: 50px;
}

.form-cupom {
  margin: 16px;
  font-family: var(--manrope-fonte);
  font-size: 12px;
  font-weight: 400;
  color: var(--cor-texto);
}

.input-cupom {
  height: 40px;
  width: 280px;
  outline: none;
  border: none;
  background-color: #0b1217;
  padding-left: 16px;
  color: var(--cor-texto);
}

.input-cupom:hover {
  border: 1px solid var(--cor-texto);
}

.input-cupom::placeholder {
  font-family: var(--manrope-fonte);
  font-size: 16px;
  color: #fdfdfd;
  opacity: 0.4;
}
