* {
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #1d2226;
  --manrope-fonte: "Manrope", sans-serif;
  --quantico-fonte: "Quantico", sans-serif;
  --open-sans: "Open Sans", sans-serif;
  --cor-texto: #ffff;
  --espaço-corpo-esquerda: 96.5px;
  position: relative;
}

.outdoors {
  margin-left: var(--espaço-corpo-esquerda);
}

.outdoors h3 {
  font-family: var(--manrope-fonte);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: var(--cor-texto);
  margin-top: 40px;
  margin-bottom: 16px;
}

.top-filmes,
.escolher-filmes {
  display: flex;
  gap: 24px;
}

.escolher-filmes {
  max-width: 950px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.filmes {
  margin-top: 40px;
  margin-left: var(--espaço-corpo-esquerda);
}

.filmes h3 {
  font-family: var(--manrope-fonte);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: var(--cor-texto);
  margin-top: 40px;
  margin-bottom: 16px;
}

